useDynLib(diffIRT)

export(diffIRT, factest,QQdiff, RespFit, simdiff, simdiffT)

importFrom("statmod", gauss.quad)
importFrom("stats", anova, coef, logLik, nobs, vcov)


S3method(anova, diffIRT)
S3method(logLik, diffIRT)
S3method(nobs, diffIRT)
S3method(print, diffIRT)
S3method(print, RespFit)
S3method(summary, diffIRT)
S3method(summary, RespFit)
S3method(vcov, diffIRT)
